body>div{
  background: #F7F8FF;
}
header{
  height: 140px;
  position: relative;
}
footer{
  background-color: #ffffff;
}
.text_SVIP{
  color: #FFC858;
}
div.title_header_input{
  top: 50px;
}
div.title_header_Tag{
  top: 90px;
}
#Onenearby{
  position: relative;
}
#Onenearby>div>div.letter{
  position: fixed;
  right: 5px;
  text-align: center;
  line-height: 18px;
  bottom: 100px;
}

/*iphone6 plus*/
@media (min-width: 376px) and (max-width: 415px){
  #Onenearby>div>div.letter{
    line-height: 21px;
    bottom: 95px;
  }
}
/*iphone6*/
@media (min-width: 321px) and (max-width: 376px){
  #Onenearby>div>div.letter{
    line-height: 19px;
    bottom: 75px;
  }
}
/*iphone5*/
@media (max-width: 321px){
  #Onenearby>div>div.letter{
    line-height: 15px;
    bottom: 65px;
  }
}
/*iphoneX*/
@media (min-height: 737px) and (max-height: 812px){
  #Onenearby>div>div.letter{
    line-height: 25px;
    bottom: 85px;
  }
}
.container{
  padding:0!important;
}
.city-list>span{
  padding: 0 10px;
}
.city-list>div{
  padding: 10px 10px;
  background-color: #ffffff;
  border-top: 1px solid #eaeaea;
}
