body>div{
    background: #F7F8FF;
}
header{
    height: 45px;
    width: 100%;
}
header>div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
}
header>div>ul.dis_flex>li>a{
    color: #999999;
    font-size: 18px;
}
header>div>ul.dis_flex>li.active>a{
    color: #657CFF;
    font-weight: bold;
}
header>div>ul.dis_flex>li:last-child{
    margin-left: 2rem;
}
header>div>img{
    height: 2rem;
}
/*轮播图*/
.swiper-pagination-bullet{
    width: 5px!important;
    height: 5px!important;
    background: #657CFF!important;
}
.swiper-pagination-bullet-active{
    width: 12% !important;
    height: 5px!important;
    border-radius: 20px !important;
    opacity: .5!important;
}

/*iphone6 plus*/
@media (min-width: 376px) and (max-width: 415px){
    .swiper-container{
        height: 214.14px;
    }
    .banner>div>div>img{
        height: 100%;
    }
}

/*iphone6*/
@media (min-width: 321px) and (max-width: 376px){
    .swiper-container{
        height: 205.91px;
    }
    .banner>div>div>img{
        height: 100%;
    }
}

/*iphone5*/
@media (max-width: 321px){
    .swiper-container{
        height: 172.56px;
    }
    .banner>div>div>img{
        height: 100%;
    }
}
.banner{
    width: 100%;
    background: #fff;
}
.banner>div:last-child{
    width: 100%;
}
.banner>div>div{
    border-radius: 10px;
    width: 37.5rem;
    padding: 10px 10px 30px 10px;
}
.banner>div>div>img{
    width: 100%;
    border-radius: 10px;
}
/*活动类别*/
section.activity_class,section.dynamic_class{
    border-bottom: 1px solid #F7F8FF;
    background: #F7F8FF;
}
section.activity_class>ul, section.dynamic_class>ul{
    justify-content: center;
    background: #ffffff;
}
section.activity_class>ul>li{
    flex-grow:1;
    justify-content: center;
    padding: 8px 5px 0 5px;
}
section.activity_class>ul>li>a, section.dynamic_class>ul>li>a{
    text-align: center;
    color: #999999;
    font-size: 1.4rem;
    width: 60px;
}
section.activity_class>ul>li.active>a, section.dynamic_class>ul>li.active>a{
    padding-bottom: 5px;
    border-bottom: 3px solid #657CFF;
    color: #657CFF;
}
/*类别内容*/
section.activity_content{
    background-color: #ffffff;
}
/*动态*/
section.dynamic_class>ul>li{
    width: 35%;
    text-align: center;
    justify-content: center;
    padding: 8px 5px 0 5px;
}