header{
    height: 50px;
}
.text_sex_off, .text_sex_on{
    width: 20px!important;
}
.body>div:first-child{
    height: 130px;
    padding: 0 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
.body>div:first-child>div{
    align-items: center;
    width: 50%;
}
.body>div:first-child>div:last-child{
    justify-content: flex-end;
}
.body>div:first-child>div:last-child>span{
    background-color: #5E75FF;
    border-radius: 20px;
    padding: 7px 10px;
    color: #fff;
}
.body>div:first-child>div>img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
}
.body>div:first-child>div>div>div{
    margin-top: 5px;
}
.body>div:first-child>div>div>div>div:first-child{
    margin-right: 5px;
}