<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta content="telephone=no,email=no" name="format-detection">
  <!--禁止自动识别电话号码和邮箱-->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <!--苹果手机：会删除默认的工具栏和菜单栏，网站开启对web app程序的支持-->
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!--苹果手机：在web app应用下状态条（屏幕顶部条）的颜色,默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）。-->
  <meta name="apple-touch-fullscreen" content="yes" />
  <!--苹果手机：如果把一个web app添加到了主屏幕中，那么从主屏幕中打开这个web app则全屏显示-->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/credit.css">
  <link rel="stylesheet" href="css/common.css">
  <script src="js/jquery-3.3.1.js"></script>
  <script src="js/bootstrap.js"></script>
  <title>信用中心</title>
</head>
<body>
  <div id="vueData">
    <header>
      <div>
        <div class="title_header dis_flex">
          <div>
            <img src="img/return_1.png" alt="">
          </div>
          <div class="dis_flex"></div>
          <div></div>
        </div>
      </div>
      <div>
        <div class="dis_flex">
          <img src="img/portrait.png" alt="">
          <h4>5分</h4>
          <span class="col_hui">初窥门径</span>
        </div>
        <div class="dis_flex">
          <div>
            <a @click.prevent="changer(0)" class="dis_inli active" href="javascript:;">发布</a>
          </div>
          <div>
            <a @click.prevent="changer(1)" class="dis_inli" href="javascript:;">参与</a>
          </div>
        </div>
      </div>
    </header>
    <div class="body">
      <div v-if="!show" :style="{maxHeight: winHeight+'px'}">
        <div class="hot_ul_li_header dis_flex">
          <div class="hot_ul_li_header_title dis_flex">
            <img src="img/bottom_img.png">
            <div class="dis_flex">
              <span>小猪佩奇</span>
              <div class="dis_flex">
                <div class="text_sex_off">26</div>
                <div>
                  <!--判断显示VIP-->
                  <div class="dis_inli text_svip">
                    <span>SVIP8</span>
                  </div>
                  <div v-if="false" class="dis_inli text_vip">
                    <span>VIP5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hot_ul_li_header_time dis_flex">
            <p>主题:一起吃火锅</p>
            <p>AA制</p>
          </div>
        </div>
        <div class="body_ul">
          <div class="body_li dis_flex">
            <div class="hot_ul_li_header_title dis_flex">
              <img src="img/bottom_img.png">
              <div class="dis_flex">
                <div class="dis_flex">
                  <span>小猪佩奇</span>
                  <img v-for="item in 3" class='pj_aix' src='img/fabulous_2.png'>
                  <img v-for="item in 5-3" class='pj_aix' src='img/fabulous_2_1.png'>
                </div>
                <div class="dis_flex">
                  <span class="col_hui">1分钟</span>
                </div>
              </div>
            </div>
            <div class="dis_flex">
              <!--占位-->
              <p>&nbsp;</p>
              <p>活动整体感觉一般吧，主要是我胖虎没吃饱!</p>
            </div>
          </div>
        </div>
      </div>
      <div v-else :style="{maxHeight: winHeight+'px'}">
        <div class="hot_ul_li_header dis_flex">
          <div class="hot_ul_li_header_title dis_flex">
            <img src="img/bottom_img.png">
            <div class="dis_flex">
              <span>小猪佩奇</span>
              <div class="dis_flex">
                <div class="text_sex_off">26</div>
                <div>
                  <!--判断显示VIP-->
                  <div class="dis_inli text_svip">
                    <span>SVIP8</span>
                  </div>
                  <div v-if="false" class="dis_inli text_vip">
                    <span>VIP5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hot_ul_li_header_time dis_flex">
            <p>主题:K歌</p>
            <p>AA制</p>
          </div>
        </div>
        <div class="body_ul">
          <div class="body_li dis_flex">
            <div class="hot_ul_li_header_title dis_flex">
              <img src="img/bottom_img.png">
              <div class="dis_flex">
                <div class="dis_flex">
                  <span>小猪佩奇</span>
                  <img v-for="item in 3" class='pj_aix' src='img/fabulous_2.png'>
                  <img v-for="item in 5-3" class='pj_aix' src='img/fabulous_2_1.png'>
                </div>
                <div class="dis_flex">
                  <span>发起者评价:</span>
                </div>
              </div>
            </div>
            <div class="dis_flex">
              <!--占位-->
              <p>&nbsp;</p>
              <p class="col_hui">活动整体感觉一般吧，主要是我胖虎没吃饱!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  let vm = new Vue({
    el: '#vueData',
    data: {
      //判断显示发布还是活动
      show:0,
      //获取屏幕分辨率高度
      winHeight:null
    },
    mounted: function () {
      //获取屏幕分辨率高度
      this.winHeight = window.screen.height-90;
    },
    methods: {
      // 类别切换
      changer(classifyId) {
        let selectId = $(event.currentTarget).parent().index();
        if (classifyId === selectId) {
          $(event.currentTarget).addClass('active').parent().siblings('div').children().removeClass('active');
          this.show = classifyId;
        }
      }
    }
  });
</script>
</html>