<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止自动识别电话号码和邮箱-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--苹果手机：会删除默认的工具栏和菜单栏，网站开启对web app程序的支持-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!--苹果手机：在web app应用下状态条（屏幕顶部条）的颜色,默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）。-->
    <meta name="apple-touch-fullscreen" content="yes"/>
    <!--苹果手机：如果把一个web app添加到了主屏幕中，那么从主屏幕中打开这个web app则全屏显示-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="../css/mescroll.min.css">
    <link rel="stylesheet" href="css/swiper-4.3.2.min.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/swiper-4.3.2.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../js/layer.js"></script>
    <script src="../js/utils.js"></script>
    <script src="js/service.js"></script>
    <title>首页</title>
</head>
<body>
<div id="vueData" class="mescroll">
    <!--头部-->
    <header>
        <div class="dis_flex">
            <img src="img/icon_sign.png" alt="">
            <!--标签切换标题-->
            <ul id="OneTab" class="dis_flex">
                <!--活动标题-->
                <li class="active">
                    <a href="#home" data-toggle="tab">活动</a>
                </li>
                <!--动态标题-->
                <li>
                    <a href="#profile">动态</a>
                </li>
            </ul>
            <!--放大镜-->
            <img src="img/icon_search.png" alt="">
        </div>
    </header>
    <!--主体-->
    <div class="body">
        <!--活动，动态标签内容-->
        <div class="tab-content">
            <!--轮播图-->
            <div class="swiper-container banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="ad in advertise">
                        <img :src="imagePath+ad.picture">
                    </div>
                </div>
                <!--分页器-->
                <div class="swiper-pagination"></div>
            </div>
            <!--活动内容-->
            <div class="tab-pane fade in active content" id="home">
                <section class="activity_class">
                    <!--活动分类切换-->
                    <ul id="TwoTab" class="dis_flex">
                        <!--热门-->
                        <li class="active dis_flex">
                            <a href="#Onehot" data-toggle="tab">热门活动</a>
                        </li>
                        <!--附近-->
                        <li class="dis_flex">
                            <a href="#Onenearby">附近活动</a>
                        </li>
                        <!--好友-->
                        <li class="dis_flex">
                            <a href="#Onefriends">好友活动</a>
                        </li>
                    </ul>
                </section>
                <section class="activity_content">
                    <div class="tab-content">
                        <!--热门内容-->
                        <div class="tab-pane fade in active" id="Onehot">
                            <div class="hot_ul">
                                <!--没有活动时-->
                                <span v-if="ds.length==0" class="dis_inli">没有活动</span>
                                <div v-for="activityInfo in ds" class="hot_ul_li">
                                    <div class="hot_ul_li_header dis_flex">
                                        <!--活动发起人信息-->
                                        <div class="hot_ul_li_header_title dis_flex">
                                            <img :src="activityInfo.headPortraitId?imagePath+activityInfo.headPortraitId:'img/portrait.png'"
                                                 alt="">
                                            <div class="dis_flex">
                                                <!--dynamicInfo-->
                                                <span v-if="userInfo&&userInfo.userId==activityInfo.userId">我</span>
                                                <span v-else @click="gotoUserHomePage(activityInfo.userId)">{{activityInfo.userName}}</span>
                                                <div class="dis_flex">
                                                    <div class="dis_inli text_sex">
                                                        <img :src="activityInfo.gender==1?'img/nan.png':'img/nv.png'"
                                                             alt="">
                                                        <span>{{activityInfo.age}}</span>
                                                    </div>
                                                    <div v-if="activityInfo.vipGrade>0">
                                                        <div v-if="activityInfo.vipGrade>8" class="dis_inli text_svip">
                                                            <span>SVIP8</span>
                                                        </div>
                                                        <div class="dis_inli text_vip" v-else>
                                                            <span>VIP5</span>
                                                        </div>

                                                        <div class="dis_inli text_level">
                                                            <span>LV{{activityInfo.vipGrade}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--活动时间-->
                                        <div class="hot_ul_li_header_time dis_flex">
                                            <p class="col_lan">{{activityInfo.activityStartTime}}</p>
                                            <p class="col_hui">报名截止{{activityInfo.activityCutoffTime}}</p>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_body">
                                        <!--主题-->
                                        <div class="hot_ul_li_body_theme">
                                            <span class="col_hui">主题:</span>
                                            <span>{{activityInfo.activityName}}</span>
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activityInfo.mode}}</span>
                                        </div>
                                        <!--活动地点-->
                                        <div class="hot_ul_li_body_place">
                                            <span class="col_hui">活动地点:</span>
                                            <span>{{activityInfo.activityAddress}}</span>
                                            <span class="bg_position col_lan">{{activityInfo.location}}km</span>
                                        </div>
                                        <!--活动内容-->
                                        <div class="hot_ul_li_body_content dis_flex">
                                            <span class="col_hui dis_inli">活动内容:</span>
                                            <span class="dis_inli">{{activityInfo.remarks}}</span>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_footer dis_flex">
                                        <!--参与人数-->
                                        <div class="dis_flex">
                                            <div>
                                                <img src="img/nan_1.png" alt="">
                                                <span>{{activityInfo.manNumber}}</span>
                                            </div>
                                            <div>
                                                <img src="img/nv_1.png" alt="">
                                                <span>{{activityInfo.womanNumber}}</span>
                                            </div>
                                        </div>
                                        <!--其他-->
                                        <div class="dis_flex">
                                            <div @click="gotoCreditCenterView(activityInfo.userId)">
                                                <span>信用轨迹</span>
                                            </div>
                                            <div @click="gotoApplyView(activityInfo.id)">
                                                <span>查看详情</span>
                                                <img src="img/icon-2.png" alt="">
                                            </div>
                                            <img src="img/copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--附近内容-->
                        <div class="tab-pane fade" id="Onenearby">
                            <div class="hot_ul">
                                <!--没有活动时-->
                                <span v-if="ds.length==0" class="dis_inli">没有活动</span>
                                <div v-for="activityInfo in ds" class="hot_ul_li">
                                    <div class="hot_ul_li_header dis_flex">
                                        <!--活动发起人信息-->
                                        <div class="hot_ul_li_header_title dis_flex">
                                            <img :src="activityInfo.headPortraitId?imagePath+activityInfo.headPortraitId:'img/portrait.png'"
                                                 alt="">
                                            <div class="dis_flex">
                                                <span v-if="userInfo&&userInfo.userId==activityInfo.userId">我</span>
                                                <span v-else @click="gotoUserHomePage(activityInfo.userId)">{{activityInfo.userName}}</span>
                                                <div class="dis_flex">
                                                    <div class="dis_inli text_sex">
                                                        <img :src="activityInfo.gender==1?'img/nan.png':'img/nv.png'"
                                                             alt="">
                                                        <span>{{activityInfo.age}}</span>
                                                    </div>
                                                    <div v-if="activityInfo.vipGrade>0">
                                                        <div v-if="activityInfo.vipGrade>8" class="dis_inli text_svip">
                                                            <span>SVIP8</span>
                                                        </div>
                                                        <div class="dis_inli text_vip" v-else>
                                                            <span>VIP5</span>
                                                        </div>

                                                        <div class="dis_inli text_level">
                                                            <span>LV{{activityInfo.vipGrade}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--活动时间-->
                                        <div class="hot_ul_li_header_time dis_flex">
                                            <p class="col_lan">{{activityInfo.activityStartTime}}</p>
                                            <p class="col_hui">报名截止{{activityInfo.activityCutoffTime}}</p>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_body">
                                        <!--主题-->
                                        <div class="hot_ul_li_body_theme">
                                            <span class="col_hui">主题:</span>
                                            <span>{{activityInfo.activityName}}</span>
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activityInfo.mode}}</span>
                                        </div>
                                        <!--活动地点-->
                                        <div class="hot_ul_li_body_place">
                                            <span class="col_hui">活动地点:</span>
                                            <span>{{activityInfo.activityAddress}}</span>
                                            <span class="bg_position col_lan">{{activityInfo.location}}km</span>
                                        </div>
                                        <!--活动内容-->
                                        <div class="hot_ul_li_body_content dis_flex">
                                            <span class="col_hui dis_inli">活动内容:</span>
                                            <span class="dis_inli">{{activityInfo.remarks}}</span>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_footer dis_flex">
                                        <!--参与人数-->
                                        <div class="dis_flex">
                                            <div>
                                                <img src="img/nan_1.png" alt="">
                                                <span>{{activityInfo.manNumber}}</span>
                                            </div>
                                            <div>
                                                <img src="img/nv_1.png" alt="">
                                                <span>{{activityInfo.womanNumber}}</span>
                                            </div>
                                        </div>
                                        <!--其他-->
                                        <div class="dis_flex">
                                            <div @click="gotoCreditCenterView(activityInfo.userId)">
                                                <span>信用轨迹</span>
                                            </div>
                                            <div @click="gotoApplyView(activityInfo.id)">
                                                <span>去报名</span>
                                                <img src="img/icon-2.png" alt="">
                                            </div>
                                            <img src="img/copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--好友内容-->
                        <div class="tab-pane fade" id="Onefriends">
                            <div v-if="isLogin" class="hot_ul">
                                <!--没有活动时-->
                                <span v-if="ds.length==0" class="dis_inli">没有活动</span>
                                <div v-for="activityInfo in ds" class="hot_ul_li">
                                    <div class="hot_ul_li_header dis_flex">
                                        <!--活动发起人信息-->
                                        <div class="hot_ul_li_header_title dis_flex">
                                            <img :src="activityInfo.headPortraitId?imagePath+activityInfo.headPortraitId:'img/portrait.png'"
                                                 alt="">
                                            <div class="dis_flex">
                                                <span v-if="userInfo&&userInfo.userId==activityInfo.userId">我</span>
                                                <span v-else @click="gotoUserHomePage(activityInfo.userId)">{{activityInfo.userName}}</span>
                                                <div class="dis_flex">
                                                    <div class="dis_inli text_sex">
                                                        <img :src="activityInfo.gender==1?'img/nan.png':'img/nv.png'"
                                                             alt="">
                                                        <span>{{activityInfo.age}}</span>
                                                    </div>
                                                    <div v-if="activityInfo.vipGrade>0">
                                                        <div v-if="activityInfo.vipGrade>8" class="dis_inli text_svip">
                                                            <span>SVIP8</span>
                                                        </div>
                                                        <div class="dis_inli text_vip" v-else>
                                                            <span>VIP5</span>
                                                        </div>

                                                        <div class="dis_inli text_level">
                                                            <span>LV{{activityInfo.vipGrade}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--活动时间-->
                                        <div class="hot_ul_li_header_time dis_flex">
                                            <p class="col_lan">{{activityInfo.activityStartTime}}</p>
                                            <p class="col_hui">报名截止{{activityInfo.activityCutoffTime}}</p>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_body">
                                        <!--主题-->
                                        <div class="hot_ul_li_body_theme">
                                            <span class="col_hui">主题:</span>
                                            <span>{{activityInfo.activityName}}</span>
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{activityInfo.mode}}</span>
                                        </div>
                                        <!--活动地点-->
                                        <div class="hot_ul_li_body_place">
                                            <span class="col_hui">活动地点:</span>
                                            <span>{{activityInfo.activityAddress}}</span>
                                            <span class="bg_position col_lan">{{activityInfo.location}}km</span>
                                        </div>
                                        <!--活动内容-->
                                        <div class="hot_ul_li_body_content dis_flex">
                                            <span class="col_hui dis_inli">活动内容:</span>
                                            <span class="dis_inli">{{activityInfo.remarks}}</span>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_footer dis_flex">
                                        <!--参与人数-->
                                        <div class="dis_flex">
                                            <div>
                                                <img src="img/nan_1.png" alt="">
                                                <span>{{activityInfo.manNumber}}</span>
                                            </div>
                                            <div>
                                                <img src="img/nv_1.png" alt="">
                                                <span>{{activityInfo.womanNumber}}</span>
                                            </div>
                                        </div>
                                        <!--其他-->
                                        <div class="dis_flex">
                                            <div @click="gotoCreditCenterView(activityInfo.userId)">
                                                <span>信用轨迹</span>
                                            </div>
                                            <div @click="gotoApplyView(activityInfo.id)">
                                                <span>去报名</span>
                                                <img src="img/icon-2.png" alt="">
                                            </div>
                                            <img src="img/copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hot_ul" v-else>
                                <span class="dis_inli" @click="gotoLoginView">登录后查看</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--动态内容-->
            <div class="tab-pane fade content" id="profile">
                <section class="dynamic_class">
                    <!--活动分类切换-->
                    <ul id="ThreeTab" class="dis_flex">
                        <!--附近-->
                        <li class="active dis_flex">
                            <a href="#Twonearby" data-toggle="tab">附近动态</a>
                        </li>
                        <!--好友-->
                        <li class="dis_flex">
                            <a href="#Twofriends">好友动态</a>
                        </li>
                    </ul>
                </section>
                <section class="dynamic_content">
                    <div class="tab-content">
                        <!--热门内容-->
                        <div class="tab-pane fade in active" id="Twonearby">
                            <div class="hot_ul">
                                <!--没有活动时-->
                                <span v-if="ds.length==0" class="dis_inli">没有动态</span>
                                <div v-for="(dynamicInfo,key) in ds"
                                     class="hot_ul_li">
                                    <div class="hot_ul_li_header dis_flex">
                                        <!--活动发起人信息-->
                                        <div class="hot_ul_li_header_title dis_flex">
                                            <img :src="dynamicInfo.portraitId?imagePath+dynamicInfo.portraitId:'img/portrait.png'"
                                                 alt="">
                                            <div class="dis_flex">
                                                <span v-if="userInfo&&dynamicInfo.userId==userInfo.userId">我</span>
                                                <span v-else @click="gotoUserHomePage(dynamicInfo.userId)">{{dynamicInfo.name}}</span>
                                                <div class="dis_flex">
                                                    <div class="dis_inli text_sex">
                                                        <img :src="dynamicInfo.gender==1?'img/nan.png':'img/nv.png'"
                                                             alt="">
                                                        <span>{{dynamicInfo.age}}</span>
                                                    </div>
                                                    <div v-if="dynamicInfo.vip>0">
                                                        <div class="dis_inli text_svip" v-if="dynamicInfo.vip>8">
                                                            <span>SVIP8</span>
                                                        </div>
                                                        <div class="dis_inli text_vip" v-else>
                                                            <span>VIP5</span>
                                                        </div>
                                                        <div class="dis_inli text_level">
                                                            <span>{{dynamicInfo.vip}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--位置-->
                                        <div class="hot_ul_li_header_time dis_flex">
                                            {{dynamicInfo.location}}<p class="col_lan bg_position">
                                            {{dynamicInfo.distance}}km</p>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_body" @click="gotoDynamicDetails(dynamicInfo.id)">
                                        <!--动态内容-->
                                        <p class="dynamic_speak">{{dynamicInfo.content}}</p>
                                        <div class="dynamic_pic">
                                            <!--大于二张class里加  dynamic_pic_div -->
                                            <div v-for="(img,index) in dynamicInfo.picture"
                                                 :class="dynamicInfo.picture.length>2?'dynamic_pic_div dis_inli':'dis_inli'">
                                                <div :style="img.myStyle" @click.stop="imgShow(key,index)"></div>
                                                <img :src="img.imgPath">
                                            </div>
                                        </div>
                                        <span class="col_hui">{{dynamicInfo.createDate}}</span>
                                        <!--<span class="col_hui">180浏览</span>-->
                                    </div>
                                    <div class="hot_ul_li_footer dis_flex">
                                        <!--评论，点赞数量-->
                                        <div class="dis_flex">
                                            <div @click="gotoDynamicDetails(key)">
                                                <img src="img/comment_1.png" alt="">
                                                <span>{{dynamicInfo.dynamicCount}}</span>
                                            </div>
                                            <div>
                                                <img src="img/fabulous_1.png" alt="">
                                                <span>{{dynamicInfo.praise}}</span>
                                            </div>
                                        </div>
                                        <!--其他-->
                                        <div class="dis_flex">
                                            <img src="img/copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--好友内容-->
                        <div class="tab-pane fade" id="Twofriends">
                            <div v-if="isLogin" class="hot_ul">
                                <!--没有活动时-->
                                <!--<span class="dis_inli">没有动态</span>-->
                                <span v-if="ds.length==0" class="dis_inli">没有动态</span>
                                <div v-for="(dynamicInfo,key) in ds"
                                     class="hot_ul_li">
                                    <div class="hot_ul_li_header dis_flex">
                                        <!--活动发起人信息-->
                                        <div class="hot_ul_li_header_title dis_flex">
                                            <img :src="dynamicInfo.portraitId?imagePath+dynamicInfo.portraitId:'img/portrait.png'"
                                                 alt="">
                                            <div class="dis_flex">
                                                <span v-if="userInfo&&dynamicInfo.userId==userInfo.userId">我</span>
                                                <span v-else @click="gotoUserHomePage(dynamicInfo.userId)">{{dynamicInfo.name}}</span>
                                                <div class="dis_flex">
                                                    <div class="dis_inli text_sex">
                                                        <img :src="dynamicInfo.gender==1?'img/nan.png':'img/nv.png'"
                                                             alt="">
                                                        <span>{{dynamicInfo.age}}</span>
                                                    </div>
                                                    <div v-if="dynamicInfo.vip>0">
                                                        <div class="dis_inli text_svip" v-if="dynamicInfo.vip>8">
                                                            <span>SVIP8</span>
                                                        </div>
                                                        <div class="dis_inli text_vip" v-else>
                                                            <span>VIP5</span>
                                                        </div>
                                                        <div class="dis_inli text_level">
                                                            <span>{{dynamicInfo.vip}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--位置-->
                                        <div class="hot_ul_li_header_time dis_flex">
                                            {{dynamicInfo.location}}<p class="col_lan bg_position">
                                            {{dynamicInfo.distance}}km</p>
                                        </div>
                                    </div>
                                    <div class="hot_ul_li_body" @click="gotoDynamicDetails(dynamicInfo.id)">
                                        <!--动态内容-->
                                        <p class="dynamic_speak">{{dynamicInfo.content}}</p>
                                        <div class="dynamic_pic">
                                            <!--大于二张class里加  dynamic_pic_div -->
                                            <div v-for="(img,index) in dynamicInfo.picture"
                                                 :class="dynamicInfo.picture.length>2?'dynamic_pic_div dis_inli':'dis_inli'">
                                                <div :style="img.myStyle" @click.stop="imgShow(key,index)"></div>
                                                <img :src="img.imgPath">
                                            </div>
                                        </div>
                                        <span class="col_hui">{{dynamicInfo.createDate}}</span>
                                        <!--<span class="col_hui">180浏览</span>-->
                                    </div>
                                    <div class="hot_ul_li_footer dis_flex">
                                        <!--评论，点赞数量-->
                                        <div class="dis_flex">
                                            <div>
                                                <img src="img/comment_1.png" alt="">
                                                <span>{{dynamicInfo.dynamicCount}}</span>
                                            </div>
                                            <div>
                                                <img src="img/fabulous_1.png" alt="">
                                                <span>{{dynamicInfo.praise}}</span>
                                            </div>
                                        </div>
                                        <!--其他-->
                                        <div class="dis_flex">
                                            <img src="img/copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hot_ul" v-else>
                                <span class="dis_inli" @click="gotoLoginView">登录后查看</span>
                            </div>
                        </div>
                    </div>
                    <!--点击放大-->
                    <div id="outerdiv" v-if="currentImg" @click="closeDiglog">
                        <img id="bigimg" :src="currentImg"/>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!--尾部-->
    <footer>
        <div class="foot_div">
            <div class="foot_ul dis_flex">
                <!--首页-->
                <a href="javascript:;" class="foot_li dis_flex">
                    <img id="pic" src="img/index.png" alt="">
                    <span class="dis_inli col_hui">首页</span>
                </a>
                <!--聊天-->
                <a href="chat.html" class="foot_li dis_flex">
                    <img src="img/chat.png" alt="">
                    <span class="dis_inli col_hui">聊天</span>
                </a>
                <!--发布-->
                <a href="javascript:" class="foot_li dis_flex">
                    <div>
                        <span class="dis_inli">+</span>
                    </div>
                    <span class="dis_inli col_hui">发布</span>
                </a>
                <!--好友-->
                <a href="friends.html" class="foot_li dis_flex">
                    <img src="img/friends.png" alt="">
                    <span class="dis_inli col_hui">好友</span>
                </a>
                <!--我的-->
                <a href="personal.html" class="foot_li dis_flex">
                    <img src="img/personal.png" alt="">
                    <span class="dis_inli col_hui">我的</span>
                </a>
            </div>
            <div class="dis_none foot_div_ul">
                <div class="dis_flex">
                    <a href="javascript:" @click="forward('release_hd.html')" class="dis_flex">
                        <img src="img/activity_1.png" alt="">
                        <span>发活动</span>
                    </a>
                    <a href="javascript:" @click="forward('release_dt.html')" class="dis_flex">
                        <img src="img/dynamic.png" alt="">
                        <span>发动态</span>
                    </a>
                    <img src="img/icon_publish_cross.png" alt="">
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../js/mescroll.min.js"></script>
<script type="text/javascript">
    let code = GetQueryString('code');
    let href = location.href.split('#')[0];
    let currentPage = 1,
        totalPage = 0,
        pageSize = 20, lat = 0.00,
        lon = 0.00,// 活动，动态切换
        currentTab = 0,
        // 活动内的切换
        currentTab1 = 0,
        // 动态内的切换
        currentTab2 = 0, mescroll;
    let data = {
        imagePath: imagePath,
        currentImg: null,
        //定义数据集
        ds: [],
        advertise: [],
        isLogin: false,
        userInfo: null
    };
    let userInfo = localStorage.getItem('localUser');
    if (userInfo) {
        userInfo = JSON.parse(userInfo);
        data.isLogin = true;
        data.userInfo = userInfo;
    } else {
        if (code) {
            gzhLonin(code, function () {
                data.isLogin = true;
            });
        } else {
            location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe9811ac767f05237&redirect_uri=http://lixinrong.vicp.io/yapingzh/shanduoWeb/index.html&response_type=code&scope=snsapi_userinfo#wechat_redirect';
        }
    }
    let vm = new Vue({
        el: '#vueData',
        data: data,
        mounted: function () {
            let that = this;
            mescroll = new MeScroll("vueData", { //请至少在vue的mounted生命周期初始化mescroll,以确保您配置的id能够被找到
                up: {
                    callback: that.upCallback,
                    auto: false,
                    noMoreSize: 10,
                    toTop: {
                        warpId: 'mescroll',
                        src: 'img/totop.png',
                        html: null,
                        offset: 1000,
                        warpClass: "mescroll-totop",
                        showClass: "mescroll-fade-in",
                        hideClass: "mescroll-fade-out",
                        duration: 300,
                        supportTap: false
                    }
                }, down: {
                    auto: false,
                    callback: that.downCallback
                }
            });
        },
        methods: {
            gotoLoginView() {
                location.href = 'login.html';
            },
            upCallback() {
                if (currentTab === 0) {
                    if (totalPage > currentPage) {
                        currentPage++;
                        loadActivityData(function () {
                            mescroll.endByPage(pageSize, totalPage)
                        }, function () {
                            mescroll.endErr();
                        });
                    } else {
                        mescroll.endErr();
                    }
                } else {
                    if (totalPage > currentPage) {
                        currentPage++;
                        loadDynamicData(function () {
                            mescroll.endByPage(pageSize, totalPage)
                        }, function () {
                            mescroll.endErr();
                        });
                    } else {
                        mescroll.endErr();
                    }
                }
            }, downCallback() {
                emptyData();
                if (currentTab === 0) {
                    loadActivityData(function () {
                        mescroll.endByPage(pageSize, totalPage)
                    }, function () {
                        mescroll.endErr();
                    });
                } else {
                    loadDynamicData(function () {
                        mescroll.endByPage(pageSize, totalPage)
                    }, function () {
                        mescroll.endErr();
                    });
                }
            }, gotoUserHomePage(userId) {
                if (data.isLogin) {
                    location.href = 'information.html?otherUserId=' + userId;
                } else {
                    toast('登录后操作');
                }
            },
            adAutoplay: function (event) {
                new Swiper(".swiper-container", {
                    direction: "horizontal", /*横向滑动*/
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true, /*点击切换图*/
                    }, /*分页器*/
                    watchOverflow: true,//一个时不显示分页器，不滑动
                    observer: true,
                    observeParents: true,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: true,
                    }
                })
            },
            imgShow(key, index) {
                vm.currentImg = data.ds[key].picture[index].imgPath;
                $('#outerdiv').fadeIn("fast");
            }, closeDiglog() {
                $('#outerdiv').fadeOut("fast");
            }, forward(view) {
                gotoReleaseView(view);
            }, gotoDynamicDetails(dynamicId) {
                location.href = 'dynamic.html?dynamicId=' + dynamicId;
            }, gotoCreditCenterView(userId) {
                if (userInfo) {
                    location.href = 'credit.html?userId=' + userId;
                } else {
                    location.href = 'login.html';
                }
            }, gotoApplyView(activityId) {
                if (userInfo) {
                    location.href = 'signup.html?activityId=' + activityId;
                } else {
                    location.href = 'login.html';
                }
            }
        }
    });
    let onul = $('header>div>ul')
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            $('#OneTab').replaceWith(`<img src='img/icon__title_shanduo.png' id='OneTab'/>`);
        }
        if (!($(window).scrollTop() + $(window).height() == $(document).height())) {
            $('#OneTab').replaceWith(onul);
        }
    });
    $(document).ready(function () {
        //底部当前的图片更换和文字变色
        $(".foot_li:nth-child(1)>img").attr('src', 'img/index_1.png');
        $(".foot_li:nth-child(1)>span").css('color', '#5970FF');
        //点击活动显示/隐藏
        $('.foot_li:nth-child(3)').click(function () {
            $('.foot_div_ul').toggle()
        })
        $('.foot_div_ul>div>img').click(function () {
            $('.foot_div_ul').toggle()
        });
    });
    //执行轮播图方法
    vm.adAutoplay();
    //活动，动态切换
    $('#OneTab a').click(function (e) {
        let selectTab = $(this).parent().index();
        if (selectTab === currentTab) {
            return;
        }
        currentTab = selectTab;
        emptyData();
        e.preventDefault();
        $(this).tab('show');
        if (selectTab === 0) {
            loadActivityData();
        } else {
            loadDynamicData();
        }
    });
    //活动类别切换
    $('#TwoTab a').click(function (e) {
        let selectTab = $(this).parent().index();
        if (selectTab === currentTab1) {
            return;
        }
        currentTab1 = selectTab;
        emptyData();
        e.preventDefault();
        $(this).tab('show');
        loadActivityData();
    });
    //动态类别切换
    $('#ThreeTab a').click(function (e) {
        let selectTab = $(this).parent().index();
        if (selectTab === currentTab2) {
            return;
        }
        currentTab2 = selectTab;
        emptyData();
        e.preventDefault();
        $(this).tab('show');
        loadDynamicData();
    });
    //轮播图

    //图片放大
    $("#outerdiv").hide();
    $(function () {
        advertise();
        init_wx_js_sdk(href, function (result) {
            //初始化接口环境
            wx.config({
                appId: result.appid,
                timestamp: result.timestamp,
                nonceStr: result.noncestr,
                signature: result.signature,
                jsApiList: ['getLocation', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'hideMenuItems']
            });
            wx.ready(function () {
                wx.getLocation({
                    success: function (res) {
                        lat = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                        lon = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                        loadActivityData();
                    }
                });
                wx.hideMenuItems({
                    menuList: ['menuItem:copyUrl', 'menuItem:share:qq', 'menuItem:share:QZone', 'menuItem:openWithQQBrowser', 'menuItem:openWithSafari', 'menuItem:share:email', 'menuItem:readMode']
                });
                let shareBoay = {
                    title: '吃喝玩乐上闪多！', // 分享标题
                    desc: '一个和附近人交友拼团的神奇应用！', // 分享描述
                    link: 'https://yapinkeji.com/yapingzh/shanduoWeb/index.html', // 分享链接
                    imgUrl: 'https://yapinkeji.com/logo.png', // 分享图标
                    success: function () {
                        toast('分享成功')
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                };
                wx.onMenuShareTimeline(shareBoay);
                wx.onMenuShareAppMessage(shareBoay);
            });
        });
    });

    function emptyData() {
        let ary = data.ds;
        ary.splice(0, ary.length);
        data.ds = ary;
        currentPage = 1;
        totalPage = 0;
    }

    function loadActivityData(cbOK, cbErr) {
        layer.open({type: 2});
        let token = '';
        if (userInfo) {
            token = userInfo.token;
        }
        let req = {
            token: token,
            type: currentTab1 + 1,
            lon: lon,
            lat: lat,
            page: currentPage,
            pageSize: pageSize
        };
        getActivityData(req, function (res) {
            if (res.list.length > 0) {
                data.ds = data.ds.concat(res.list);
                totalPage = res.totalpage;
            }
            cbOK && cbOK();
        }, function () {
            cbErr && cbErr();
        }, function () {
            layer.closeAll();
        });
    }

    function loadDynamicData(cbOK, cbErr) {
        layer.open({type: 2});
        let token = '';
        if (userInfo) {
            token = userInfo.token;
        }
        let req = {
            token: token,
            typeId: currentTab2 + 1,
            lon: lon,
            lat: lat,
            page: currentPage,
            pageSize: pageSize
        };
        getDynamicData(req, function (res) {
            let newData = res.list;
            if (newData.length > 0) {
                for (let i in newData) {
                    newData[i].createDate = formatMsgTime(newData[i].createDate);
                    let imgItme = newData[i].picture;
                    let newItem = [];
                    for (let j in imgItme) {
                        newItem.push({
                            myStyle: {backgroundImage: "url('" + data.imagePath + imgItme[j] + "')"},
                            imgPath: data.imagePath + imgItme[j]
                        });
                    }
                    newData[i].picture = newItem;
                }
                data.ds = data.ds.concat(newData);
                totalPage = res.totalPage;
            }
            cbOK && cbOK();
        }, function () {
            cbErr && cbErr();
        }, function () {
            layer.closeAll();
        })
    }

    //广告轮播图
    function advertise() {
        $.getJSON(host + '/jcarousel/carouselList',
            function (res) {
                if (res.success) {
                    data.advertise = res.result;
                }
            }
        );
    }
</script>
</html>