<!DOCTYPE html>
<html lang="en" style="font-size: 15px" xmlns:v-on="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/layer.js"></script>
    <script src="../js/utils.js"></script>
    <script src="js/service.js"></script>
</head>
<body>
<div class="tbody" id="vueData">
    <section class="return">
        <a href="javascript:" @click="goBack">
            <img src="img/return_1_1.png" alt="">
        </a>
        <a href="javascript:" @click="gotoRegisterView">注册</a>
    </section>
    <section class="image_pic">
        <img src="img/portrait.png" alt="">
    </section>
    <section class="input_class">
        <div>
            <img src="img/icon_name_checked.png" alt="">
            <input type="number" placeholder="手机号或闪多号" name="user" v-model="username">
        </div>
        <div>
            <img src="img/icon_pwd_checked.png" alt="">
            <input type="password" placeholder="请输入登录密码" name="pwd" v-model="password">
        </div>
    </section>
    <section class="submission">
        <a href="javascript:" v-on:click="userLogin">立即登录</a>
    </section>
    <section class="forget">
        <a href="javascript:">忘记了密码?</a>
    </section>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let unionid = localStorage.getItem('unionid');
    let data = {
        username: '', password: ''
    };
    new Vue({
        el: '#vueData',
        data: data,
        methods: {
            userLogin() {
                if (data.username.replace(/\s/g, '').length === 0 || data.password.replace(/\s/g, '').length === 0) {
                    toast('登录名或密码非法');
                    return;
                }
                login(unionid, data.username, data.password, function (res) {
                    localStorage.localUser = JSON.stringify(res);
                    toast('登陆成功');
                    setTimeout(function () {
                        location.href='index.html';
                    }, 1000);
                }, function () {
                    toast('登陆错误');
                })
            },goBack(){
                location.href='index.html';
            },gotoRegisterView(){
                location.href='register.html';
            }
        }
    });
</script>
</html>