<!DOCTYPE html>
<html lang="en" style="font-size: 15px" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>活动详情</title>
    <link rel="stylesheet" href="css/activity.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/layer.js"></script>
    <script src="../js/utils.js"></script>
    <script src="js/service.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
<header>
    <div class="play_flex">
        <div class="head_img play_flex" onclick="goBack()">
            <img src="img/return_1.png" alt="">
        </div>
        <div class="head_txt play_flex">
            <span>报名</span>
        </div>
        <div class="head_pic play_flex">
            <img src="img/copy.png" alt="">
        </div>
    </div>
</header>
<div id="vueData">
    <div class="body">
        <div class="item-ans">
            <div class='activity_block'>
                <div class='activity_people'>
                    <img class="img"
                         :src="activityInfo.headPortraitId?imagePath+activityInfo.headPortraitId:'img/portrait.png'">
                    <div class="expertInfo inline">
                        <div class="name">{{activityInfo.userName}}</div>
                        <div class="tag">
                            <!--判断男女是男加 sex_nan    加在sex 后面-->
                            <div class="inline">
                                <div>
                                    <img class='sex_on' :src="activityInfo.gender==1?'img/nan.png':'img/nv.png'">{{activityInfo.age}}
                                </div>
                            </div>
                            <!--判断是什么会员 VIP加 my_VIP-->
                            <div v-if="activityInfo.vipGrade>0">
                                <span v-if="activityInfo.vipGrade>8" class='level inline'>SVIP9</span>
                                <span class='my_DJ inline'>{{activityInfo.vipGrade}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='activity_time'>
                    <div class=''>
                        <div class='col_lan'>{{activityInfo.activityStartTime}}</div>
                        <div class='col_hui'>报名截止:{{activityInfo.activityCutoffTime}}</div>
                    </div>
                </div>
            </div>
            <div class='activity_block'>
                <div class='activity_theme'>
                    <span>主题：</span>
                    <span>{{activityInfo.activityName}}</span>
                    <!--占位-->
                    <span class='inline text_koge'></span>
                    <span>{{activityInfo.mode}}</span>
                </div>
                <div class='activity_place'>
                    <span>活动地点：</span>
                    <span>{{activityInfo.activityAddress}}</span>
                    <!--<img src='img/location.png'>-->
                    <!--<span class='col_lan'>1.8km</span>-->
                </div>
                <div class='activity_content'>
                    <span>活动内容：</span>
                    <span>{{activityInfo.remarks}}</span>
                </div>
            </div>
            <div class='activity_block'>
                <div>
                    <div class='inline'>
                        <img src='img/nan_1.png'>
                        <span>{{activityInfo.manNumber}}</span>
                    </div>
                    <div class='inline'>
                        <img src='img/nv_1.png'>
                        <span>{{activityInfo.womanNumber}}</span>
                    </div>
                </div>
            </div>
        </div>
        <span class="inline">报名成员</span>
        <div class="member_shell" v-if="participant.length>0">
            <div class="member_box play_flex">
                <div v-for="item in participant" class="member play_flex">
                    <img :src="item.head_portrait_id?imagePath+item.head_portrait_id:'img/portrait.png'" alt="">
                    <span class="col_hui">{{item.user_name}}</span>
                </div>
            </div>
        </div>
        <div class="member_shell" v-else>
            <div class="member_box play_flex">
                <div class="member play_flex">
                    <img src="img/com.png" alt="">
                    <span class="col_hui">没有人报名</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="comment_speak">
            <div class="play_flex">
                <a class="inline" href="javascript:">取消</a>
                <a class="inline" href="javascript:" v-on:click="confirmation"><label
                        v-if="joinActivity==0">确认报名</label><label v-else>取消报名</label></a>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let userInfo = localStorage.getItem('localUser');
    let href = location.href.split('#')[0];
    if (userInfo) {
        userInfo = JSON.parse(userInfo);
    }
    let activityId = GetQueryString('activityId');
    let data = {
        imagePath: imagePath,
        activityInfo: {},
        participant: [],
        joinActivity: 0
    };
    let vm = new Vue({
        el: '#vueData',
        data: data,
        methods: {
            confirmation() {
                if (userInfo) {
                    $.ajax({
                        data: {
                            token: userInfo.token,
                            activityId: activityId,
                            type: data.joinActivity === 1 ? 2 : 1
                        },
                        dataType: 'json',
                        url: host + '/activity/joinActivities',
                        success: (res) => {
                            if (res.data.success) {
                                toast(res.data.result);
                                setTimeout(function () {
                                    history.go(-1);
                                }, 1000);
                            }
                        }
                    });
                }
            }
        }
    });

    function goBack() {
        location.href = 'index.html';
    }

    $(function () {
        init_wx_js_sdk(href, function (result) {
            //初始化接口环境
            wx.config({
                appId: result.appid,
                timestamp: result.timestamp,
                nonceStr: result.noncestr,
                signature: result.signature,
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'hideMenuItems']
            });
            wx.ready(function () {
                wx.hideMenuItems({
                    menuList: ['menuItem:copyUrl', 'menuItem:share:qq', 'menuItem:share:QZone', 'menuItem:openWithQQBrowser', 'menuItem:openWithSafari', 'menuItem:share:email', 'menuItem:readMode']
                });
                wx.onMenuShareTimeline({
                    title: '找你一起来拼团！', // 分享标题
                    desc: '闪多，一个和附近人拼团的应用！', // 分享描述
                    link: 'http://lixinrong.vicp.io/yapingzh/shanduoWeb/signup.html?activityId=' + activityId, // 分享链接
                    imgUrl: 'http://lixinrong.vicp.io/logo.png', // 分享图标
                    success: function () {
                        toast('分享成功')
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '找你一起来拼团！', // 分享标题
                    desc: '闪多，一个和附近人拼团的应用！', // 分享描述
                    link: 'http://lixinrong.vicp.io/yapingzh/shanduoWeb/signup.html?activityId=' + activityId, // 分享链接
                    imgUrl: 'http://lixinrong.vicp.io/logo.png', // 分享图标
                    success: function () {
                        toast('分享成功')
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        });
        if (activityId) {
            loadActivityDetail(activityId, function (res) {
                data.activityInfo = res.activityInfo;
                data.participant = res.resultList;
                data.joinActivity = res.joinActivity;
            })
        }
    });
    $(document).ready(function () {
        $(".sare_frame").click(function () {
            $(".sare_frame").hide();
        });
        $(".head_pic>img").click(function () {
            $(".sare_frame").show();
        });
    });
</script>
</body>
</html>